.block {
    }

.coords {
    width: 180px; /* ширина */
    border: 10px solid plum; /* толщина и цвет сплошной рамки */
    margin: 10px auto; /* отступ сверху и горизонтальное выравнивание по центру */
       padding: 10px; /* поля вокруг, чтобы текст не прилипал к рамке */
      font-size: 30px; /* размер шрифта */
    font-weight: 700; /* жирность шрифта */
    font-family: 'Arial Narrow Bold', sans-serif; /* семейство шрифтов */
}